.sI-bg {
    width: 75%;
    background-image: url('../../../assets/image/Doctors-amico.png');
    background-position: center;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
}

.sI-item {
    width: 50%;
}


//-------------------------------------------------------Responsive

@media screen and (max-width:767px) {
    .sI-res-disNone {
        display: none !important;
    }
    .sI-item {
        width: 100%;
    }
    
}

@media screen and (max-width:424px) {
    .sI-res-form {
        width: 100% !important;
        padding: 15px !important;
        box-sizing: border-box;
    }
}