.uBooking {
    margin-top: 32px;
    padding: 0 64px;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    position: relative;

    &-alert {
        position: absolute;
        top: 0;
        right: 0;
    }

    &-paper {

        

        &-table {
            width: 100%;
            height: 100%;
        }
    }
}