.signUp {
    display: flex;
    flex-direction: row;
    position: relative;

    &-item1 {
        width: 50%;
        position: sticky;
        top: 0;
        background-color: #2c73eb;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-bg {
            width: 75%;
            height: 300px;
            background-image: url("../../../image/HealthProfessional.png");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    &-item2 {
        width: 50%;

        &-head {
            padding: 16px;
        }

        &-body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: rgb(240, 242, 245);

            &-formBox {
                display: flex;
                flex-direction: column;
                padding: 36px 0;

                &-head {
                    margin-bottom: 16px;
                }

                &-item {
                    height: 100px;
                    margin-bottom: 8px !important;
                }
            }

            &-checkBox {
                display: flex;
                flex-direction: row !important;
                justify-content: space-around;
            }

            &-button {
                height: 56px;
            }
        }
    }
}
