.in4-header {
    display: flex;
    padding: 0 0 15px;
    align-items: center;
}

.docIn4-left-avatar {
    display: none !important;
}

@media screen  and (max-width:1023px) {

    .main-container {
        flex-direction: column;
    }

    .docIn4-left,
    .docIn4-right {
        width: 100% !important;
    }

    .docIn4-left{
        
        &-avatar {
        display: block !important;
        margin-right: 5px;
        }

        &-docName {
            font-size: 24px !important;
        }

        &-title {
            font-size: 20px !important;
        }

        &-detail {
            font-size: 16px !important;
        }

    }

    .tab-docin4-disnone {
        display: none !important;
    }

}