@media screen  and (max-width:1023px) {
    .ds-body {
        padding: 48px 0 0 !important;
    }
}

@media screen and  (max-width:767px) {

    .mobileDisplay {
        display: block !important;
    }

    .ds-body-item-disNone {
        display: none !important;
    }

    .ds-body-container {
        flex-direction: column !important;
    }
    
    .ds-body-item {
        margin-top: 24px;
        width: 100% !important;
    }

    .dsL-paper{
        width: 100% !important;
        border-radius: 15px;
    }

    .dsL-headBox {
        margin-top: 0 !important;
        background: #fff !important;
        box-shadow: none !important;
    }

    .dsL-headBox-typography {
        color: #333 !important;
        font-weight: 500 !important;
        text-align: center !important;
    }

    .dsR-paper {
        width: 100% !important;
    }
}