@media screen and (min-width:768px) and (max-width:1023px) {
    .link {
        width: 45% !important;
    }
}

@media screen and (max-width:767px) {
    .link {
        width: 100% !important;
    }
    
}

@media screen and (max-width:424px) {
    .link-title {
        width: min-content;
    }

    .link-icon {
        width: 3rem !important;
        height: 3rem !important;
    }
}