///-------------------------DocterView
@import './DocterView/BookingSchdule/responsive.scss';
@import './DocterView/DoctorSchedule/responsive.scss';
@import './DocterView/DoctorProfile/responsive.scss';

///-------------------------Doctor
@import './Doctor/DoctorIn4/responsive.scss';
@import './Doctor/Booking/responsive.scss';
@import './Doctor/DoctorList/responsive.scss';

///-------------------------Home
@import './Home/DoctorHome/resposive.scss';
@import './Home/UserHome/responsive.scss';

///-------------------------LandingPage
@import './LandingPage/responsive.scss';

///-------------------------News
@import './News/responsive.scss';

///-------------------------SignIn - SingUp
@import './SignInSignUp/SignIn/responsive.scss';
@import './SignInSignUp/SignUp/responsive.scss';

///-------------------------UserBooking
@import './UserBooking/responsive.scss';

///-------------------------ErrorPages
@import './ErrorPages/responsive.scss';