.drBs {
    margin-top: 32px;
    display: flex;
    justify-content: center;

    &-paper {
        display: flex;
        flex-direction: column;
        width: 95%;

        &-header {
            display: flex;
            justify-content: space-between;
    
            &-1{
                width: 45%;
                max-height: 80px;
                margin: -24px 0 0 16px;
                padding: 24px 16px;
                box-sizing: border-box;
                border-radius: 15px;
                opacity: 1;
                background: linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232));
                color: rgb(52, 71, 103);
                box-shadow: rgb(0 0 0 / 14%) 0rem 0.25rem 1.25rem 0rem, rgb(0 187 212 / 40%) 0rem 0.4375rem 0.625rem -0.3125rem;
            }
    
            &-2 {
                margin: 16px 16px 16px 0;
    
                &-error {
                    height: 28px;
    
                    &-text {
                        color: red;
                    }
                }
            }
        }
        &-body {
            

            &-table {
                width: 100%;
                height: 100%;
            }
        }
    }

    
    
}