@media screen  and (max-width:767px) {
    .drBs-paper-header {
        flex-direction: column !important;
        
        &-1 {
            width: 90% !important;
            margin: -24px 5% 0 5%;
        }
        
        &-2 {
            display: flex;
            justify-content: end;
        }
    }
}