//-------------------------------DoctorList.js
.dList {
    height: max-content;
    padding: 48px 64px 32px;

    &-paper {
        display: flex;
        flex-direction: column;
        height: max-content;

        &-head{
            
            &-left{
                margin: -24px 16px 0 16px;
                padding: 24px 16px;
                opacity: 1;
                width: 50%;
                background: linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232));
                color: #fff;
                border-radius: 0.5rem;
                box-shadow: rgb(0 0 0 / 14%) 0rem 0.25rem 1.25rem 0rem, rgb(0 187 212 / 40%) 0rem 0.4375rem 0.625rem -0.3125rem;
            }
        } 

        &-body {
            height: 90%;

            &-table {
                width: 100%;
                height: 100%;
            }
        }
    }
}

//-------------------------------DoctorRow.js

