.title-color{
    color: rgb(52, 71, 103);
}
.non-title-color {
    color: rgb(123, 128, 154);
}

.slide-bg {
    position: relative;
    background: linear-gradient(195deg, rgba(73, 163, 241, 0.6), rgba(26, 115, 232, 0.6)) 50%  / cover,url('../img/slidebg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 20rem;
    width: 95%;
    border-radius: 15px;
}

.news-container {
    margin-bottom: 5rem;
}

.topic-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height: 40rem;
    width: 100%;
}

.topic-item {
    position: relative;
    border-radius: 15px;
    margin: 2.5% 1%;
    width: 30%;
    min-height: 45%;


    &:hover {
        opacity: 0.7;
        cursor: pointer;
    }
}

.topic-bg {
    margin: -2rem 5% 0;
    border-radius: 15px;
    background-image: url('../img/news.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 90%;
    height: 60%;
}

.topic-information {
    padding: 1rem;
}