@media screen and (min-width:768px) and (max-width:1023px) {

    .slide-bg {
        height: 14rem;
    }

    .topic-container {
        min-height: 30rem;
    }

    .topic-item {
        margin: 4.5% 1%;
    }
}

@media screen and (min-width : 425px) and (max-width:767px) {
    .news-mobile-font-38 {
        font-size: 38px !important;
    }

    .slider-container {
        width: 100% !important;
    }

    .slide-bg {
        height: 12rem;
    }

    .topic-item {
        margin: 5.5% 1%;
        width: 45%;
    }
    .topic-bg {
        margin: -1rem 5% 0;
        height: 60%;
    }
    

}

@media screen and (max-width:424px) {

    .topic-information {
        padding: 0.5rem !important;
    }

    .news-topic-paper {
        height: 180px !important;
    }

    .news-mobile-font-38 {
        font-size: 38px !important;
    }

    .news-mobile-font-16 {
        font-size: 16px !important;
    }

    .news-mobile-font-10 {
        font-size: 10px !important;
    }

    .news-mobile-font-9 {
        font-size: 9px !important;
    }

    .slider-container {
        width: 100% !important;
    }

    .slide-bg {
        height: 9rem !important;
    }

    .topic-item {
        margin: 5.5% 1%;
        width: 45%;
    }
    .topic-bg {
        margin: -1rem 5% 0;
    }
}